@import '../styles/variables';

@include mobile {
  .managerInfo {
    display: flex;
    box-sizing: border-box;
    padding: 40px 30px 0 30px;
    justify-content: space-between;
  }
  .BtnsClass {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  .InfoPart1 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
  }

  .MainProfileBox {
    display: flex;
    align-items: center;
    flex-direction: row;
  }

  .countryUrl {
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    span {
      margin-top: 5px;
      color: #3b3a3a;
      font-size: 0.9rem;
    }

    .clipboard {
      width: 100%;
      display: flex;
      justify-content: flex-start;
      align-items: center;

      img {
        width: 19px;
        height: 19px;
        cursor: pointer;
      }
      .countryLink {
        display: block;
        font-size: 15px;
        margin-left: 2px;
      }
    }
  }

  .content {
    // border: 1px solid #d4fcd7;
    background-color: #d9d9d9;
    border-radius: 18px;
    padding: 20px;
    height: auto;

    .newsHead {
      font-weight: bold;
      font-size: 18px;
    }
    .newsContent {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .registerBtn {
      // border: 1px solid rgb(246, 193, 193);
      border-radius: 4px;
      background-color: #fff5d6;
      padding: 5px;
    }
  }
}
@include desktop {
  .BtnsClass {
    display: flex;
    gap: 10px;
    padding-right: 40px;
  }
  .main-title {
    color: #333;
  }
  .countryUrl {
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    border: 1px solid #eff4f0;
    background: #d9d9d924;
    border-radius: 10px;
    box-shadow: 1.5px 2.99px 5.98px #eff4f0;
    padding: 20px;
    span {
      margin-top: 5px;
      color: #3b3a3a;
      font-size: 0.9rem;
    }

    .clipboard {
      width: 100%;
      display: flex;
      justify-content: flex-start;
      align-items: center;

      img {
        width: 19px;
        height: 19px;
        cursor: pointer;
      }
      .countryLink {
        display: block;
        font-size: 15px;
        margin-left: 2px;
      }
    }
  }
  .newsHead {
    margin-top: 80px;
  }
}
