$under-line: #e9ae24;

@mixin select-common {
  border: none;
  border-bottom: 1px solid $under-line;
  background-color: transparent;
  outline: none;
  padding: 5px;
  margin: 10px 0 20px 0;
}

@mixin boxStyle-common {
  width: -webkit-fill-available;
  background-color: #f5f6f6;
  margin: 20px 0;
  padding: 20px;
  border-radius: 18px;
  box-sizing: border-box;
  position: relative;
}
